*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-container{
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.msg-container{
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
}

/*  INPUT CONTAINER STYLING BEGINS */
.input-container{
  display: flex;
  margin: 1rem 0;
}

.text-input{
  flex-grow: 3;
}

.text-input,.send-btn{
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border-width:1px;
  font-size: 1rem;
}

.send-btn{
  cursor: pointer;
  border: none;
  margin-left: 10px;
  background-color: hsl(43, 74%, 55%);
  flex:1;
}
/* INPUT CONTAINER STYLING ENDS */

/* MESSAGES STYLING BEGINS */
.msg{
  display: flex;
  align-items: center;
  background-color: lightgrey;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  margin: 0 10px;
  max-width: 350px;
}

.bot-msg,.user-msg{
  display: flex;
  margin-top: 1rem;
}

.user-msg{
  justify-content: flex-end;
}
.bot-msg{
  justify-content: flex-start;
}

.profile-icon{
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: hsl(43, 74%, 55%);
  /* background-color: hsl(120, 93%, 50%); */
  padding: 5px;
  border-radius: 50%;
}
/* MESSAGES STYLING ENDS */



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
